<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CounterPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<DXThemeManager>
   <setting name="ApplicationThemeName" serializeAs="String">
    <value>VS2019Light</value>
   </setting>
  </DXThemeManager>
  <CounterPOS.Properties.Settings>
   <setting name="DefaultDiscountValue" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ShowInvoiceOnCreating" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CreateUIMenuAtStartup" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsDefaultFBRInvoice" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DiscountAndTaxOnTotal" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastUsedUsername" serializeAs="String">
    <value>admin</value>
   </setting>
   <setting name="UIMenuButtonWidth" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="UIMenuButtonHeight" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="UIMenuItemNameFontSize" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="UIMenuItemProductImageWidth" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="UIMenuItemProductImageHeight" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="PictureWatermark" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TextWatermark" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="InvoiceWatermarkText" serializeAs="String">
    <value>Paid</value>
   </setting>
   <setting name="InvoiceWatermarkFont" serializeAs="String">
    <value>Microsoft Sans Serif, 48pt</value>
   </setting>
   <setting name="InvoiceWatermarkTextTransparency" serializeAs="String">
    <value>190</value>
   </setting>
   <setting name="InvoiceWatermarkImageTransparency" serializeAs="String">
    <value>190</value>
   </setting>
   <setting name="DefaultGSTValue" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DiscountAndTaxPerItem" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DefaultPaymentType" serializeAs="String">
    <value>Cash</value>
   </setting>
   <setting name="ChangeToThemeName" serializeAs="String">
    <value>Light</value>
   </setting>
   <setting name="HandyTheme" serializeAs="String">
    <value>Dark</value>
   </setting>
   <setting name="WPFUITheme" serializeAs="String">
    <value>Dark</value>
   </setting>
   <setting name="AccentBrush" serializeAs="String">
    <value>#03A9F4</value>
   </setting>
   <setting name="HeaderAutoFill" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HeaderLocation" serializeAs="String">
    <value>Left</value>
   </setting>
   <setting name="HeaderOrientation" serializeAs="String">
    <value>Horizontal</value>
   </setting>
   <setting name="RowHeight" serializeAs="String">
    <value>40</value>
   </setting>
   <setting name="RowFontSize" serializeAs="String">
    <value>18</value>
   </setting>
   <setting name="ShowCurrentSale" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PrintCopies" serializeAs="String">
    <value>2</value>
   </setting>
  </CounterPOS.Properties.Settings>
	</userSettings>
	<connectionStrings>
		<add name="Counter" connectionString="" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>